@charset "UTF-8";
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* прибираємо зайвий заголовок з головної сторінки */
.section__title--none {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}
.body.modal-open {
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.container--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}
@media screen and (max-width: 767px) {
  .container--header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    min-height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .container--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-right: 0;
  padding-bottom: 48px;
  padding-left: 40px;
}

.header {
  position: relative;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.logo--header {
  display: block;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .logo--header {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo--header {
    margin-right: 93px;
    font-size: 26px;
  }
}
.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  color: #ffffff;
}

.logo__web {
  color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: relative;
  padding: 40px;
  min-height: 609px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
}
@media screen and (max-width: 479px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 8px;
  top: 8px;
  padding: 0;
  z-index: 9;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .modal__close {
    left: 490px;
  }
}

.modal__close-icon {
  width: 18px;
  height: 18px;
  fill: rgb(0, 0, 0);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover .modal__close-icon {
  fill: #2196f3;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .contact {
    margin-top: 300px;
  }
}

@media screen and (max-width: 767px) {
  .contact-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (min-width: 768px) {
  .contact-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-header :not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-header {
    margin-left: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .contact-header__item:not(:last-child) {
    margin-top: 32px;
  }
}
@media screen and (min-width: 768px) {
  .contact-header__item {
    min-height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-header__item {
    min-height: 16px;
  }
  .contact-header__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contact-header__icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .contact-header__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact-header__icon {
    margin-right: 8px;
  }
  .contact-header__icon--mail {
    width: 14px;
    height: 10px;
  }
  .contact-header__icon--tel {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-header__icon {
    margin-right: 10px;
  }
  .contact-header__icon--mail {
    width: 16px;
    height: 12px;
  }
  .contact-header__icon--tel {
    width: 10px;
    height: 16px;
  }
}
.contact-header__icon:hover, .contact-header__icon:focus {
  fill: #2196f3;
}

.contact-header__link {
  width: 100%;
  font-weight: 500;
  color: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contact-header__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .contact-header__link {
    font-size: 14px;
  }
}
.contact-header__link:hover, .contact-header__link:focus {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .contact-header__link--phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}
@media screen and (max-width: 767px) {
  .contact-header__link--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

.social-header {
  margin-top: 64px;
}
.social-header__item:not(:last-child) {
  margin-right: 20px;
}
.social-header__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .social-header {
    display: none;
  }
}

.social-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1200px) {
  .navigation {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-button__svg {
  z-index: 5;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 0;
  background-color: #ffffff;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover .menu-button__svg {
  fill: #2196f3;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile-menu__close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.mobile-menu__close-icon {
  fill: rgb(0, 0, 0);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__close-btn:hover .mobile-menu__close-icon, .mobile-menu__close-btn:focus .mobile-menu__close-icon {
  fill: #2196f3;
}

.menu-button.is-open .menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 500ms linear;
    transition: -webkit-transform 500ms linear;
    transition: transform 500ms linear;
    transition: transform 500ms linear, -webkit-transform 500ms linear;
    width: 100%;
    min-height: 616px;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #ffffff;
  }
  .menu.is-open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    color: #212121;
  }
}
@media screen and (min-width: 768px) {
  .menu__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    color: #212121;
  }
  .menu__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}
.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}
.menu__link--current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu__item + .menu__item {
    margin-left: 50px;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  min-height: 400px;
  background-color: rgb(196, 196, 196);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mobile.jpg);
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tablet.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/fon-hero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-hero.jpg);
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
    font-size: 26px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__button {
  display: block;
  min-width: 216px;
  height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
}
.hero__button:hover, .hero__button:focus {
  width: 216px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

textarea {
  resize: none;
}

.form__title {
  max-width: 370px;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .form__title {
    width: 448px;
  }
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__label {
  margin-bottom: 4px;
}

.input {
  position: relative;
}

.input__field {
  width: 100%;
  min-height: 40px;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 16px;
  line-height: 0;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input__field:hover, .input__field:focus {
  border-color: #2196f3;
}
.input__icon:hover .input__field {
  border-color: #2196f3;
}

.input__icon {
  position: absolute;
  top: 11px;
  left: 15px;
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input__icon:hover {
  fill: #2196f3;
}
.input__field:hover + .input__icon, .input__field:focus + .input__icon {
  fill: #2196f3;
}
.input:-moz-placeholder-shown + .input__icon {
  fill: #212121;
}
.input:-ms-input-placeholder + .input__icon {
  fill: #212121;
}
.input:placeholder-shown + .input__icon {
  fill: #212121;
}
.input:not(:-moz-placeholder-shown) + .input__icon {
  fill: #2196f3;
}
.input:not(:-ms-input-placeholder) + .input__icon {
  fill: #2196f3;
}
.input:not(:placeholder-shown) + .input__icon {
  fill: #2196f3;
}

.form__coment {
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__coment:hover, .form__coment:focus {
  border-color: #2196f3;
}
.form__coment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__coment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__coment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__coment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.policy {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .policy {
    width: 425px;
    font-size: 14px;
    line-height: 1.7;
  }
}

.policy__check {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.policy__icon-off {
  width: 16px;
  height: 15px;
  margin-right: 9px;
  opacity: 1;
}

.policy__icon-on {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}
.policy__check:checked + .policy__icon-on {
  opacity: 1;
}

.policy__condition {
  text-decoration: underline;
  color: #2196f3;
}

.form__button {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section {
    width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pluses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .pluses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pluses__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .pluses__item {
    width: 270px;
  }
  .pluses__item + .pluses__item {
    margin-left: 30px;
  }
}

.pluses-box {
  min-height: 120px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .pluses-box {
    margin-top: 30px;
  }
}

.pluses-box__icon {
  width: 70px;
  height: 70px;
}

.pluses__title {
  width: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}

.pluses__text {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.7;
}

@media screen and (max-width: 1199px) {
  .container--projects {
    display: none;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projekts__employment {
  position: relative;
}
.projekts__employment + .projekts__employment {
  margin-left: 30px;
}

.projects__image {
  position: relative;
}
.projects__image::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  min-height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.projekts__text {
  position: absolute;
  width: 100%;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  bottom: 0;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.section--team {
  background-color: #f5f4fa;
}
@media screen and (min-width: 480px) {
  .section--team {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .section--team {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section--team {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team__box {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) and (max-width: 1199px) {
  .team__box:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__box {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__box + .team__box {
    margin-left: 30px;
  }
}

.team__list {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__list {
    padding-bottom: 30px;
  }
}

.team__name {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #212121;
}

.team__job {
  margin-top: 10px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.photo {
  height: 460px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .photo {
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .photo {
    height: 260px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:not(:last-child) {
  margin-right: 10px;
}
.social__link:hover, .social__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon:hover, .social__icon:focus {
  fill: currentColor;
}

.social-footer__join {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .social-footer {
    margin-top: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .social-footer {
    margin-left: 70px;
  }
}

.social--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item--footer {
  width: 44px;
  height: 44px;
  margin-bottom: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.social__item--footer:not(:last-child) {
  margin-right: 10px;
}

.social__icon--footer {
  fill: #ffffff;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .clients {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 1200px) {
  .clients {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.clients__list {
  height: 92px;
}
@media screen and (max-width: 767px) {
  .clients__list {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__list {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    width: 170px;
  }
  .clients__list:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon:hover, .clients__icon:focus {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  background-color: #2f303a;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    max-width: 1600px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .communication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .communication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-footer {
  text-align: center;
}

.contact-footer__address {
  margin-bottom: 8px;
}

.contact-footer__link {
  font-style: normal;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-footer__link--last {
  padding: 0;
}
.contact-footer__link:hover, .contact-footer__link:focus {
  color: #2196f3;
}

.contact-footer__link--address {
  color: #ffffff;
}

.subscription-form {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .subscription-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 0;
    margin-left: 93px;
  }
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-right: 12px;
  }
}

.subscribe__label {
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

.subscribe__input {
  margin-top: 20px;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-moz-placeholder-shown {
  background-color: #2f303a;
}
.subscribe__input:-ms-input-placeholder {
  background-color: #2f303a;
}
.subscribe__input:placeholder-shown {
  background-color: #2f303a;
}
.subscribe__input:not(:-moz-placeholder-shown) {
  background-color: #ffffff;
}
.subscribe__input:not(:-ms-input-placeholder) {
  background-color: #ffffff;
}
.subscribe__input:not(:placeholder-shown) {
  background-color: #ffffff;
}
@media screen and (min-width: 480px) {
  .subscribe__input {
    width: 358px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}

.subscribe__button {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .subscribe__button {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__button {
    margin-top: 38px;
  }
}

.subscribe__icon {
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.filtrs {
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .filtrs {
    margin-bottom: 30px;
    text-align: center;
  }
}

.filtrs__item {
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .filtrs__item {
    margin-bottom: 15px;
  }
}

.filtrs__button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(33, 33, 33);
  background-color: #f5f4fa;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtrs__button:hover, .filtrs__button:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #2196f3;
}
.filtrs__button:not(:last-child) {
  margin-right: 8px;
}

/* результат фільтра */
@media screen and (min-width: 768px) {
  .list-filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .list-filters__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .list-filters__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
.list-filters__item:not(:last-child) {
  margin-bottom: 30px;
}

.list-filters__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-filters__link:hover, .list-filters__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards {
  padding: 20px 24px;
  background-color: var(--header-bg-color);
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.cards__name {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.cards__type {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}

/* ховер для карток "портфоліо"*/
.list-filters__image {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  width: 100%;
  min-height: 294px;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-filters__link:hover .card-overlay, .list-filters__link:focus .card-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-overlay__hover {
  margin: 0;
  padding-top: 77px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .card-overlay__hover {
    padding-top: 49px;
  }
}
@media screen and (min-width: 1200px) {
  .card-overlay__hover {
    padding-top: 63px;
  }
}/*# sourceMappingURL=main.css.map */