.contact-footer__address {
  margin-bottom: 9px;
}

.contact-footer__link {
  font-style: normal;
  line-height: 1.7;
  color: $contact-footer-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--last {
    padding: 0;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact-footer__link--address {
  color: $header-bg-color;
}
