.contact {
  display: flex;

  @media screen and (max-width: 767px) {
    margin-top: auto;
  }
}

.contact-header {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    :not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-left: 90px;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    align-items: center;
  }
}

.contact-header__item {
  @media screen and (max-width: 479px) {
    &:not(:last-child) {
        margin-top: 20px;
      }
  }
  

  @media screen and (min-width: $mobile) and (max-width: 767px) {
    &:not(:last-child) {
      margin-top: 32px;
    }
  }

  @media screen and (min-width: $tablet) {
    min-height: 14px;
  }

  @media screen and (min-width: $desktop) {
    min-height: 16px;
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}

.contact-header__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $tablet) {
    margin-right: 8px;
    &--mail {
      width: 14px;
      height: 10px;
    }

    &--tel {
      width: 10px;
      height: 14px;
    }
  }

  @media screen and (min-width: $desktop) {
    margin-right: 10px;
    &--mail {
      width: 16px;
      height: 12px;
    }

    &--tel {
      width: 10px;
      height: 16px;
    }
  }

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.contact-header__link {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 500;
  color: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $tablet) {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--phone {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    @media screen and (max-width: 479px) {
      font-size: 27px;
    }

    @media screen and (min-width: $mobile) and (max-width: 767px) {
      font-size: 34px;
    }
  }

  &--mail {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    @media screen and (max-width: 479px) {
      font-size: 22px;
    }

    @media screen and (min-width: $mobile) and (max-width: 767px) {
      font-size: 24px;
    }
  }
}

.social-header {
  @media screen and (max-width: 479px) {
    margin-top: 45px;
  }

  @media screen and (min-width: $mobile) and (max-width: 767px) {
    margin-top: 64px;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid $accent-color;
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: $accent-color;

    @media screen and (min-width: $mobile) and (max-width: 767px) {
      font-size: 18px;
    }
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.social-header__list {
  display: flex;
}
