.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;

  background-color: $hero-bg-color;

  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: 1600px;
  }
}

.communication {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
