.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;

  background-color: $hero-bg-color;
}

.communication {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
