.header-mobile {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
    width: 100%;
  }

  @media screen and (min-width: $mobile) {
    min-height: 60px;
  }

  @media screen and (min-width: $tablet) {
    min-height: 80px;
  }
}

.menu-button {
  padding: 0;
  border: none;
  background-color: $header-bg-color;

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.menu-button__icon {
  width: 40px;
  height: 40px;
}
