.hero {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1600px;
  min-height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/fon-hero.jpg);
  background-color: rgba(196, 196, 196, 1);
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: $header-bg-color;
  text-align: center;
  text-transform: uppercase;
}

.hero__button {
  display: block;
  min-width: 216px;
  height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border-radius: 4px;
  border: none;

  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  color: $header-bg-color;
  background-color: $accent-color;

  &:hover,
  &:focus {
    width: 216px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}
