.hero {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  min-height: 400px;

  background-color: rgba(196, 196, 196, 1);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header-mobile.jpg);
  background-size: cover;
  

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header-tablet.jpg);
  }

  @media screen and (min-width: $desktop) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/fon-hero.jpg);
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  color: $header-bg-color;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;

  @media screen and (min-width: $mobile) {
    width: 360px;
    font-size: 26px;
    line-height: 1.6;
  }

  @media screen and (min-width: $desktop) {
    width: 696px;
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__button {
  display: block;
  min-width: 216px;
  height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border-radius: 4px;
  border: none;

  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  color: $header-bg-color;
  background-color: $accent-color;

  &:hover,
  &:focus {
    width: 216px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}
