textarea {
  resize: none;
}

.form__title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: $title-text-color;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__label {
  margin-bottom: 4px;
}

.input {
  position: relative;
}

.input__field {
  width: 100%;
  min-height: 40px;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 42px;

  border-radius: 4px;
  border: 1px solid $input-color;

  font-size: 16px;
  line-height: 0;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-color;
  }

  .input__icon:hover & {
    border-color: $accent-color;
  }
}

.input__icon {
  position: absolute;
  top: 11px;
  left: 15px;
  width: 18px;
  height: 18px;

  fill: $title-text-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $accent-color;
  }

  .input__field:hover + &,
  .input__field:focus + & {
    fill: $accent-color;
  }

  .input:placeholder-shown + & {
    fill: $title-text-color;
  }
  .input:not(:placeholder-shown) + & {
    fill: $accent-color;
  }
}

.form__coment {
  height: 120px;
  padding: 12px 16px;

  border-radius: 4px;
  border: 1px solid $input-color;

  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-color;
  }

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
}

.policy {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 423px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.policy__check {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.policy__icon-off {
  width: 16px;
  height: 15px;
  margin-right: 9px;
  opacity: 1;
}

.policy__icon-on {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  left: 9px;

  opacity: 0;

  .policy__check:checked + & {
    opacity: 1;
  }
}

.policy__condition {
  text-decoration: underline;
  color: $accent-color;
}

.form__button {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  color: $header-bg-color;
  background-color: $accent-color;
}
