.projects {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.projekts__employment {
  position: relative;

  & + & {
    margin-left: 30px;
  }
}

.projects__image {
  position: relative;

  &::before {
    content: "";

    display: inline-block;
    position: absolute;
    width: 100%;
    min-height: 70px;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.projekts__text {
  position: absolute;
  width: 100%;
  min-height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  bottom: 0;

  font-weight: 700;
  color: $header-bg-color;
  text-transform: uppercase;
  text-align: center;
}
