.pluses {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
  }
}

.pluses__item {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: $desktop) {
    width: 270px;

    & + & {
      margin-left: 30px;
    }
  }
}

.pluses-box {
  min-height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-bg-color;
  border-radius: 4px;

  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }
}

.pluses-box__icon {
  width: 70px;
  height: 70px;
}

.pluses__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: $title-text-color;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.pluses__text {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.7;
}
