.section--plus {
  // padding-bottom: 0;
}

.pluses {
  // display: flex;
  // justify-content: center;

}

.pluses__item {
  // width: 270px;

  // & + & {
  //   margin-left: 30px;
  // }
}

.pluses-box {
  min-height: 120px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-bg-color;
  border-radius: 4px;
}

.pluses-box__icon {
  width: 70px;
  height: 70px;
}

.pluses__title {
  width: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $title-text-color;
}

.pluses__text {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.7;
}
