.section {
  min-width: 450px;
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (min-width: $tablet) {
    min-width: 1600px;
      padding-top: 94px;
      padding-bottom: 94px;
  }

    @media screen and (min-width: $desktop) {
      min-width: 1600px;
      padding-top: 94px;
      padding-bottom: 94px;
    }
}

.section__title {
  font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  // font-size: 36px;
  color: $title-text-color;
}